* {
    font-family: 'Roboto';
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    background: #1F2937;
}

.header-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 30px;
}

.header-link {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    width: auto;
    font-size: 18px;
    color: #F9FAF8;
}



.header-link div {
    flex: 0 1 auto;
    padding: 20px;

}

.img-header-logo {
    height: 50px;
    flex: 0 0 auto;
}

.hero-section {
    display: flex;
    margin: 50px;

}

.hero-section-left {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 50px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.hero-secondary-text {
    font-size: 18px;
    color: #F9FAF8;
    }

.button1 {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

}

.hero-section-right {
    display: flex;
    width: 50%;
}

.img-hero-section-right {
    height: 100%;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.information-header-text {
    flex: 1 1 auto;
    text-align: center;
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
    margin: 50px;

}

.information-container-big {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.information-container-small {
    display: flex;
    flex: 0 0 680px;
}

.information-text {
    text-align: center;
}

.information-pair {
    margin: 10px;
}

.img-information {
    border: solid #1d89e4;
    border-radius: 25px;
    width: 150px;
}

.container3 {
    display: flex;
    justify-content: center;
    background: #E5E7EB;
}

.quote-box {
    display: flex;
    flex: 0 0 680px;
    flex-wrap: wrap;
    margin: 70px;
    padding: 30px;
}

.quote {
    flex: 0 0 680px;
    font-size: 30px;
    font-style: italic;
    color: rgb(98, 98, 98);
}

.quote-author {
    flex: 0 0 680px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.container4 {
    display: flex;
    justify-content: center;

}

.action-call-box {
    display: flex;
    flex: 0 0 680px;
    margin: 50px;
    align-items: center;
    border-radius: 25px;
    background: #3882F6;

}

.action-call-text-box {
    display: flex;
    flex: 0 0 480px;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
}

.button2 {
    background-color: #3882F6;
    border: solid white;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    flex: 0 0 auto;
    height: 50px;
}

.action-call-subtext {
    font-size: 14px;
    }

.action-call-text {
    font-size: 22px;

}