* {
    font-family: 'Roboto';
    font-size: 22px;
}

.container1 {
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
}

.header-container {
    display: flex;
    border: 2px solid rgb(14, 69, 150);
    width: 100%;
    align-items: center;
}

.header-link {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    width: auto;
}

.header-link div {
    flex: 0 1 auto;
    padding: 20px;

}

.img-header-logo {
    height: 50px;
    flex: 0 0 auto;
}

.hero-section-left {
    display: flex;
    border: 2px solid rgb(14, 69, 150);
    flex-wrap: wrap;
    width: 50%;
}

.hero-section-right {
    display: flex;
    border: 2px solid rgb(14, 69, 150);
    width: 50%;
}



.img-hero-section-right {
    height: 100%;
}

